@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothic.eot');
    src: url('/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CenturyGothic.woff2') format('woff2'),
         url('/fonts/CenturyGothic.woff') format('woff'),
         url('/fonts/CenturyGothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothicBold.eot');
    src: url('/fonts/CenturyGothicBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CenturyGothicBold.woff2') format('woff2'),
         url('/fonts/CenturyGothicBold.woff') format('woff'),
         url('/fonts/CenturyGothicBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* 2. Vos variables CSS */
:root {
  --font-alexandria: 'Alexandria', sans-serif;
  --font-alice: "Alice", serif;
  --font-inter: "Inter", sans-serif;
  --font-century-gothic: "Century Gothic", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-century-gothic);
  @apply antialiased text-black bg-white;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.rotate-logo{
  font-family: var(--font-inter);
}
form .checkboxes label{
  position: relative;
  cursor: pointer;
}
form .checkboxes label span:after,
form .checkboxes label span:before{
  content: "";
  border: 1px solid #fff;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
}
form .checkboxes label span:after{
  opacity: 0;
  visibility: hidden;
  background: #fff;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
}
.page-contact form .checkboxes label span:after,
.page-contact form .checkboxes label span:before{
  border-color: #000;
}
.page-contact form .checkboxes label span:after{
  background: #000;
}
form .checkboxes label input{
  opacity: 0;
  visibility: hidden;
  width: 18px;
  height: 18px;
  border: 1px solid transparent;
  background: none;
}
form .checkboxes label input:checked + span:after{
  opacity: 1;
  visibility: visible;
}

/* Scroll Texte style */
.scroll-container {
  width: 100%;
  overflow: hidden;
  background-color: rgba(198, 198, 198, 1);
  padding: 20px 0;
  white-space: nowrap;
}
.scroll-content {
  display: block;
  animation: scroll 30s linear infinite;
}
.scroll-content span {
  padding: 0 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
@keyframes scroll {
  from {
  transform: translateX(0);
  }
  to {
  transform: translateX(-50%);
  }
}
.scroll-container:hover .scroll-content {
  animation-play-state: paused;
}

/* Home services */
.services-section .grid{
  margin-left: -0.2rem;
  margin-right: -0.2rem;
}

.countnumber{
  font-family: var(--font-alice);
}
/* About us*/
.aboutus-scroll {
  transform: translate(-50%);
  left: 50%;
  bottom: 40px;
}

.main-Footer .footer-bottom{
  border-top-color: rgba(198, 198, 198, 0.4);
}
.footer-contact{
  background-color: #000;
  color: #fff;
}
.page-contact .footer-contact * {
  color: #000;
}
.page-contact .footer-contact {
  background: #fff;
  color: #000;
  padding-top: 0;
}
.page-contact .footer-contact .footer-contact-title,
.page-contact .footer-contact .sup-title{
  display: none;
}
/*.page-contact .contact-maps,*/
.page-contact .footer-contact .contact-title{
  display: block;
}
.page-contact .footer-contact form textarea,
.page-contact .footer-contact form input {
  border-color: #000;
  color: #000;
}
.page-contact .footer-contact form button {
  background-color: #000;
  color: #fff;
}
/* Portfolio image*/
.img-relative img,
.project-image img{
  position: initial !important;
}
@media (min-width: 1200px) {
  .container{
    max-width: 1280px;
  }
}
@media (max-width: 767px) {
	header .nav-site.overflow-hidden {
	left: -100%;
	}
	header .nav-site {
	z-index: 9999;
	padding: 80px;
	position: fixed;
	inset: 0;
	left: 0px;
	transform: none;
	width: 75%;
	max-height: 100vh;
	}

	header .nav-site ul li a{
	font-size: 20px;
	color: #fff;
	}
}
